<?xml version="1.0" encoding="utf-8" ?>
<configuration>
		<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="InterfaceLocalizer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
			<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
		</startup>
  <userSettings>
    <InterfaceLocalizer.Properties.Settings>
      <setting name="PathToFiles" serializeAs="String">
        <value>..\..\..\res\local\</value>
      </setting>
      <setting name="CheckedFiles" serializeAs="String">
        <value />
      </setting>
      <setting name="MainFormTop" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MainFormLeft" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MainFormWidth" serializeAs="String">
        <value>400</value>
      </setting>
      <setting name="MainFormHeight" serializeAs="String">
        <value>400</value>
      </setting>
      <setting name="SettingsFormLeft" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SettingsFormTop" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ServiceColumnsVisible" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ColIDWidth" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="ColFilenameWidth" serializeAs="String">
        <value>95</value>
      </setting>
      <setting name="ColTagsWidth" serializeAs="String">
        <value>120</value>
      </setting>
      <setting name="ColRusWidth" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="ColEngWidth" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="StatsFormLeft" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="StatsFormTop" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PathToGossip" serializeAs="String">
        <value>..\..\..\res\scripts\base\data\</value>
      </setting>
      <setting name="CheckedGossipFiles" serializeAs="String">
        <value />
      </setting>
      <setting name="WorkMode" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SpellCheckCompleteBox" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LanguageNames" serializeAs="String">
        <value />
      </setting>
      <setting name="TranslationFilenames" serializeAs="String">
        <value />
      </setting>
      <setting name="OriginalTextFilename" serializeAs="String">
        <value />
      </setting>
      <setting name="ColLang2Width" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="ColLang3Width" serializeAs="String">
        <value>300</value>
      </setting>
    </InterfaceLocalizer.Properties.Settings>
  </userSettings>
</configuration>